.li-skill-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  margin: 30px;
}

.skill-name {
  color: #f1f5f9;
  font-family: 'Roboto';
  font-size: 28px;
  margin-left: 12px;
}

.skills-image {
  width: 100px;
  height: 100px;
  margin: 12px;
}
