.notfound-container{
    background-color: #000000;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.notfound-heading{
    color: #ffffff;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 40px;
}


.notfound-paragraph{
    color: #ffffff;
    font-family: "Roboto";
    font-size: 28px;
}

.notfound-img{
    width: 500px;
    height: 500px;
}