.left-container {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.hr-line {
  width: 100%;
  color: #ffffff;
}

.success-container {
  background-color: #000000;
  display: flex;
  width: 100%;
  padding: 30px;
}

.list-container {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.search-container {
  display: flex;
  height: 50px;
  margin: 50px;
  border: 1px solid #7e858e;
  width: 400px;
}

.search-button {
  background-color: transparent;
  color: #ffffff;
  outline: none;
  border: none;
}

.ul-container {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.no-jobs-image {
  width: 200px;
  height: 200px;
}

.search-element {
  background-color: transparent;
  width: 300px;
  color: #ffffff;
  font-size: 28px;
}
